<ion-view title="Em Leilão" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="emLeilO-card21">
      
      <!--ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="emLeilO-slider1" style="width:100%;height:200px;">
        <ion-slide-page id="emLeilO-slide24" style="background:url(&quot;img/fQMVcUnQhiyKXBNKGBsj_Used_car.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide27" style="background:url(&quot;img/zTZXc2mWTeaTlJgXlb6x_fusca.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide25" style="background:url(&quot;img/UCjRclgJQ6yp3LI4iM0w_volkswagen-fusca-1600-07.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides-->
          
      <div class="item item-body" id="emLeilO-list-item-container2" style="
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;">
        
          
          <div>
            <div class="colorsep"></div>
            <div class="topbar">
              <div class="clockdiv"><img src="img/clock_mini.png">
              </div>
              <div>
                <div class="minutestext">Encerra em <strong>11:00 minutos</strong>
                </div>
              </div>
            </div>
            <div><img sizes="(max-width: 1600px) 100vw, 1600px" src="img/zTZXc2mWTeaTlJgXlb6x_fusca.jpg" srcset="img/zTZXc2mWTeaTlJgXlb6x_fusca-p-500x375.jpeg 500w, img/zTZXc2mWTeaTlJgXlb6x_fusca-p-800x600.jpeg 800w, img/zTZXc2mWTeaTlJgXlb6x_fusca-p-1080x810.jpeg 1080w, img/zTZXc2mWTeaTlJgXlb6x_fusca.jpg 1600w">
            </div>
            <div class="cartitle">
              <div class="cartitletext">Fusca 1.6 2P Manual&nbsp;</div>
            </div>
            <div class="cardesc">
              <div class="cardesctext">1979 | 129.000 km | Único Dono</div>
            </div>
            <div class="carexposed">
              <div class="infobox">
                <div class="imgcontainer"><img src="img/km_wm.png">
                </div>
                <div>
                  <div class="infotxt">129.000</div>
                </div>
              </div>
              <div class="infobox">
                <div class="imgcontainer"><img src="img/ano_wm.png">
                </div>
                <div>
                  <div class="infotxt">1979</div>
                </div>
              </div>
              <div class="infobox">
                <div class="imgcontainer"><img src="img/cambio_wm.png">
                </div>
                <div>
                  <div class="infotxt">Manual</div>
                </div>
              </div>
              <div class="infobox price">
                <div>
                  <div class="pricetag">R$ 17.800,00</div>
                </div>
              </div>
            </div>
          </div>
          
          
      </div>
    </div>
  </ion-content>
</ion-view>