<ion-view title="Em Leilão" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="emLeilO-card21">
      
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="emLeilO-slider1" style="width:100%;height:200px;">
        <ion-slide-page id="emLeilO-slide24" style="background:url(&quot;img/fQMVcUnQhiyKXBNKGBsj_Used_car.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide27" style="background:url(&quot;img/zTZXc2mWTeaTlJgXlb6x_fusca.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide25" style="background:url(&quot;img/UCjRclgJQ6yp3LI4iM0w_volkswagen-fusca-1600-07.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="item item-body" id="emLeilO-list-item-container2">
        
          
          
          
        
      </div>
    </div>
  </ion-content>
</ion-view>