<ion-view title="Em Leilão" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="emLeilO-card21">
      <ion-item class="item-avatar" id="emLeilO-list-item3">
        <h2>Item</h2>
      </ion-item>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="emLeilO-slider1" style="width:100%;height:200px;">
        <ion-slide-page id="emLeilO-slide24" style="background:url(&quot;img/fQMVcUnQhiyKXBNKGBsj_Used_car.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide27" style="background:url(&quot;img/zTZXc2mWTeaTlJgXlb6x_fusca.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide25" style="background:url(&quot;img/UCjRclgJQ6yp3LI4iM0w_volkswagen-fusca-1600-07.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="emLeilO-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <div class="item item-body" id="emLeilO-list-item-container2">
        <div id="emLeilO-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="emLeilO-list-item4">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>